:root {
  --bg: #EEF8FB;
  --text: #000000;


  --top: 64px;
  --left: 80px;
  --right: 80px;
  --navRight: 180px; 


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}


body {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
}



.topbar {
  position: relative;
  height: 160px;
}


.logo {
  position: absolute;
  top: var(--top);
  left: var(--left);

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
}


.nav {
  position: absolute;
  top: var(--top);          
  right: var(--navRight);

  display: flex;
  flex-direction: column;
  gap: 22px;                
}

.nav a {
  font-size: 16px;          
  font-weight: 400;
  text-decoration: none;
  color: var(--text);
}

.nav a:hover {
  text-decoration: underline;
}


.hamburger {
  position: absolute;
  top: var(--top);
  right: var(--right);

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: var(--text);
  margin: 6px 0;
}



.mobile-panel {
  display: none !important;
}


.page {
  min-height: calc(100vh - 160px);
}



@media (max-width: 900px) {
  .nav {
    display: none;
  }
}


